
@red1:    hsl(  3, 55%, 40%);
@red2:    hsl(  3, 45%, 45%);
@orange1: hsl( 18, 70%, 35%);
@orange2: hsl( 18, 65%, 40%);
@yellow1: hsl( 40, 75%, 45%);
@yellow2: hsl( 40, 65%, 50%);
@puse1:   hsl( 85, 55%, 45%);
@puse2:   hsl( 85, 45%, 55%);
@green1:  hsl(110, 30%, 40%);
@green2:  hsl(110, 20%, 45%);
@cyan1:   hsl(155, 55%, 40%);
@cyan2:   hsl(155, 45%, 45%);
@blue1:   hsl(215, 65%, 40%);
@blue2:   hsl(215, 55%, 50%);
@purple1: hsl(260, 45%, 30%);
@purple2: hsl(260, 35%, 35%);
@pink1:   hsl(335, 50%, 40%);
@pink2:   hsl(335, 40%, 45%);
@white:   hsl(  0,  0%, 75%);
@silver:  hsl(  0,  0%, 60%);
@gray:    hsl(  0,  0%, 35%);
@black:   hsl(  0,  0%,  5%);
@steel:   hsl(205, 20%, 35%);

@gutter-bg:    hsl(  0,  0%, 10%);
@gutter-bg-hl: hsl(  0,  0%,  2%);
@gutter-fg:    hsl(  0,  0%, 30%);
@gutter-fg-hl: hsl(  0,  0%, 55%);
