@import '../colour';

.syntax--storage.syntax--type.syntax--c,
.syntax--support.syntax--type.syntax--sys-types.syntax--c,
.syntax--support.syntax--type.syntax--pthread.syntax--c,
.syntax--support.syntax--type.syntax--stdint.syntax--c,
.syntax--support.syntax--type.syntax--posix-reserved.syntax--c {
    color: @green2;
}

.syntax--storage.syntax--modifier.syntax--c,
.syntax--entity.syntax--name.syntax--function.syntax--c,
.syntax--support.syntax--function.syntax--any-method.syntax--c {
    color: @green;
}

.syntax--constant.syntax--other.syntax--variable.syntax--mac-classic.syntax--c {
    color: @yellow;
}

.syntax--constant.syntax--language.syntax--c {
    color: @yellow;
}

.syntax--keyword.syntax--operator.syntax--sizeof.syntax--c {
    color: @blue;
}

.syntax--punctuation.syntax--definition.syntax--directive.syntax--c {
    color: @blue2;
}

.syntax--entity.syntax--name.syntax--function.syntax--preprocessor.syntax--c {
    color: @green;
}

.syntax--variable.syntax--parameter.syntax--preprocessor.syntax--c,
.syntax--variable.syntax--other.syntax--member.syntax--c {
    color: @white;
}

.syntax--punctuation.syntax--separator.syntax--parameters.syntax--c {
    color: @silver;
}

.syntax--punctuation.syntax--definition.syntax--comment.syntax--begin.syntax--c,
.syntax--punctuation.syntax--definition.syntax--comment.syntax--end.syntax--c,
.syntax--punctuation.syntax--whitespace.syntax--comment.syntax--leading.syntax--cpp {
    color: @gray;
}

.syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--c,
.syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--c,
.syntax--constant.syntax--character.syntax--escape.syntax--c {
    color: @red2;
}

.syntax--string.syntax--quoted.syntax--double.syntax--include.syntax--c,
.syntax--string.syntax--quoted.syntax--other.syntax--lt-gt.syntax--include.syntax--c {
    color: @red;
}
