@import '../colour';

.syntax--text.syntax--html.syntax--basic,
.syntax--string.syntax--quoted.syntax--double.syntax--html,
.syntax--string.syntax--quoted.syntax--single.syntax--html,
.syntax--string.syntax--unquoted.syntax--html {
    color: @white;
}

.syntax--punctuation.syntax--definition.syntax--comment.syntax--html,
.syntax--punctuation.syntax--separator.syntax--key-value.syntax--html,
.syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--html,
.syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--html {
    color: @silver;
}

.syntax--punctuation.syntax--definition.syntax--tag.syntax--html {
    color: @gray;
}

.syntax--entity.syntax--name.syntax--entity.syntax--other.syntax--html {
    color: @yellow;
}

.syntax--punctuation.syntax--definition.syntax--entity.syntax--begin.syntax--html,
.syntax--punctuation.syntax--definition.syntax--entity.syntax--end.syntax--html {
    color: @yellow2;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--html {
    color: @green2;
}

.syntax--entity.syntax--name.syntax--tag.syntax--html,
.syntax--entity.syntax--name.syntax--tag.syntax--doctype.syntax--html,
.syntax--entity.syntax--name.syntax--tag.syntax--style.syntax--html,
.syntax--entity.syntax--name.syntax--tag.syntax--script.syntax--html,
.syntax--entity.syntax--name.syntax--tag.syntax--structure.syntax--any.syntax--html,
.syntax--entity.syntax--name.syntax--tag.syntax--block.syntax--any.syntax--html,
.syntax--entity.syntax--name.syntax--tag.syntax--inline.syntax--any.syntax--html {
    color: @blue;
}

.syntax--entity.syntax--name.syntax--tag.syntax--xml.syntax--html,
.syntax--entity.syntax--name.syntax--tag.syntax--other.syntax--html {
    color: @blue2;
}
