@import '../colour';

.text.html.basic,
.string.quoted.double.html,
.string.quoted.single.html,
.string.unquoted.html {
    color: @white;
}

.punctuation.definition.comment.html,
.punctuation.separator.key-value.html,
.punctuation.definition.string.begin.html,
.punctuation.definition.string.end.html {
    color: @silver;
}

.punctuation.definition.tag.html {
    color: @gray;
}

.entity.name.entity.other.html {
    color: @yellow;
}

.punctuation.definition.entity.begin.html,
.punctuation.definition.entity.end.html {
    color: @yellow2;
}

.entity.other.attribute-name.html {
    color: @green2;
}

.entity.name.tag.html,
.entity.name.tag.doctype.html,
.entity.name.tag.style.html,
.entity.name.tag.script.html,
.entity.name.tag.structure.any.html,
.entity.name.tag.block.any.html,
.entity.name.tag.inline.any.html {
    color: @blue;
}

.entity.name.tag.xml.html,
.entity.name.tag.other.html {
    color: @blue2;
}
