@import '../colour';

.syntax--variable.syntax--language.syntax--js,
.syntax--variable.syntax--language.syntax--default.syntax--js,
.syntax--variable.syntax--other.syntax--module.syntax--js,
.syntax--variable.syntax--other.syntax--module-alias.syntax--js,
.syntax--variable.syntax--parameter.syntax--property.syntax--js,
.syntax--constant.syntax--other.syntax--js,
.syntax--support.syntax--variable.syntax--property.syntax--dom.syntax--js,
.syntax--variable.syntax--parameter.syntax--rest.syntax--function.syntax--js,
.syntax--variable.syntax--parameter.syntax--function.syntax--js,
.syntax--constant.syntax--other.syntax--property.syntax--js,
.syntax--variable.syntax--other.syntax--property.syntax--js {
    color: @white;
}

.syntax--string.syntax--quoted.syntax--single.syntax--js,
.syntax--string.syntax--quoted.syntax--double.syntax--js {
    color: @red;
}

.syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--js,
.syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--js {
    color: @red2;
}

.syntax--support.syntax--constant.syntax--dom.syntax--js,
.syntax--constant.syntax--other.syntax--object.syntax--js {
    color: @yellow;
}

.syntax--entity.syntax--name.syntax--function.syntax--js,
.syntax--entity.syntax--other.syntax--inherited-class.syntax--js,
.syntax--support.syntax--function.syntax--js {
    color: @green;
}

.syntax--entity.syntax--name.syntax--function.syntax--constructor.syntax--js,
.syntax--entity.syntax--name.syntax--type.syntax--instance.syntax--js,
.syntax--variable.syntax--other.syntax--object.syntax--js,
.syntax--variable.syntax--other.syntax--object.syntax--property.syntax--js {
    color: @green2;
}

.syntax--support.syntax--class.syntax--dom.syntax--js,
.syntax--support.syntax--variable.syntax--js,
.syntax--constant.syntax--other.syntax--object.syntax--property.syntax--js {
    color: @cyan;
}

.syntax--support.syntax--class.syntax--js,
.syntax--entity.syntax--name.syntax--type.syntax--object.syntax--console.syntax--js,
.syntax--support.syntax--class.syntax--math.syntax--js,
.syntax--support.syntax--variable.syntax--dom.syntax--js {
    color: @cyan2;
}

.syntax--storage.syntax--type.syntax--js,
.syntax--storage.syntax--modifier.syntax--js,
.syntax--keyword.syntax--operator.syntax--new.syntax--js,
.syntax--keyword.syntax--operator.syntax--delete.syntax--js,
.syntax--keyword.syntax--operator.syntax--in.syntax--js,
.syntax--keyword.syntax--operator.syntax--of.syntax--js,
.syntax--keyword.syntax--operator.syntax--instanceof.syntax--js,
.syntax--keyword.syntax--operator.syntax--new.syntax--js,
.syntax--keyword.syntax--operator.syntax--typeof.syntax--js,
.syntax--keyword.syntax--operator.syntax--void.syntax--js {
    color: @blue;
}

.syntax--keyword.syntax--operator.syntax--assignment.syntax--js,
.syntax--meta.syntax--function.syntax--arrow.syntax--js,
.syntax--storage.syntax--type.syntax--function.syntax--arrow.syntax--js {
    color: @silver;
}

.syntax--punctuation.syntax--definition.syntax--comment.syntax--js,
.syntax--comment.syntax--block.syntax--documentation.syntax--js,
.syntax--comment.syntax--line.syntax--double-slash.syntax--js {
    color: @gray;
}
